*,
::before {
  box-sizing: border-box;
}

/* ================
layout 
=================== */

.header {
  border: 1px solid magenta;
}

.container {
  border: 1px solid magenta;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1,
p,
h3 {
  text-align: center;
}

.mockup img {
  width: 80%;
}

.container-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.stats-box {
  border: 1px solid magenta;
}

.container-illustrations {
  border: 1px solid magenta;
}

.illustration {
  display: flex;
  flex-direction: row;
}

.illustration-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration img {
  max-width: 70%;
}

@media (max-width: 375px) {
  .illustration {
    display: flex;
    flex-direction: column;
  }

  .container-stats {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
