*,
::before {
  box-sizing: border-box;
}

/* ================
Typography
=================== */

:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);

  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);

  --headings: "Poppins", sans-serif;
  --body: "Open Sans", sans-serif;
}

/* ================
layout 
=================== */

body {
  font-family: var(--body);
  margin: 0;
  color: var(--Very-Dark-Cyan);
}

header {
  margin: 1em 1em 7rem;
}

.logo {
  width: 10rem;
}

.logo img {
  width: 100%;
}

.header {
  border: 1px solid magenta;
  display: flex;
  justify-content: space-between;
}

h1,
h3,
.illustration-heading {
  font-family: var(--headings);
  color: var(--Very-Dark-Cyan);
}

.btn {
  padding: 0.5em 2em;
  border-radius: 100000px;
  border: 1px solid var(--Pink);
  font-family: inherit;
  border-color: var(--Pink);
  background-color: white;
  color: var(--Pink);
}

.btn-main {
  padding: 0.75em 3.5em;
  margin-top: 1em;
  background-color: var(--Pink);
  color: white;
  font-weight: 700;
}

.subscribe {
  background-color: var(--Pink);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-family: inherit;
  font-weight: 700;
  font-size: 0.75em;
}

.container {
  border: 1px solid magenta;
  width: 90%;
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mockup img {
  width: 80%;
}

.container-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.stats-box {
  border: 1px solid magenta;
  width: 50%;
}

.stats-box img {
  width: 15%;
}

.stats-icon {
  font-size: 2.5rem;
  font-weight: 700;
}

.stats-icon::before {
  content: "";
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  transform: translate(0.55em, -1em);
}

.stats-icon-communities::before {
  background-image: url(/images/icon-communities.svg);
}

.stats-icon-messages::before {
  background-image: url(/images/icon-messages.svg);
}

.stats-icon::after {
  font-size: 0.8rem;
  display: block;
  color: rgb(170, 168, 168);
  font-weight: 400;
  margin: 0 auto;
  padding-left: 1.2em;
}

.stats-icon-communities::after {
  content: "Communities Formed";
}

.stats-icon-messages::after {
  content: "Messages Sent";
}

.container-illustrations {
  border: 1px solid magenta;
}

.illustration {
  display: flex;
  flex-direction: row;
  border: 1px solid magenta;
  padding: 4em 0;
}

.illustration-heading {
  font-size: 1.2rem;
}

.illustration-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: start;
  font-size: 0.7rem;
}

.illustration-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration-heading,
.illustration-text > p {
  text-align: start;
}

.illustration img {
  max-width: 70%;
}

footer {
  background-color: var(--Very-Dark-Cyan);
  color: white;
}

.container-footer {
  width: 90%;
  border: 1px solid magenta;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 0.75rem;
}

.container-footer h3 {
  color: white;
  text-transform: uppercase;
}

.container-footer img {
  width: 10rem;
}

@media (max-width: 414px) {
  .illustration {
    display: flex;
    flex-direction: column;
  }

  .illustration-text {
    order: 1;
  }

  .illustration-text > p,
  .illustration-heading {
    text-align: center;
  }

  .illustration img {
    order: -1;
  }

  .container-stats {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-footer {
    flex-direction: column;
  }
}
